<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeh3tma0VewboTZk8RgnSxWfXc36qzsEw</string>
	<key>GCM_SENDER_ID</key>
	<string>992747231860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSetupTask</string>
	<key>PROJECT_ID</key>
	<string>catstinder-d04bb</string>
	<key>STORAGE_BUCKET</key>
	<string>catstinder-d04bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992747231860:ios:3eea2c4a53227f8f6d4f21</string>
</dict>
</plist>